.FilterListItem {
    display: inline-block;
    width: 30%;
    margin: 1%;
}

.FilterLink:link,
.FilterLink:visited {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: cursive;
    color: brown
}

.FilterLink:hover,
.FilterLink:active {
    color: orangered;
}